/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                              
	vertical-align: baseline;         
	background: transparent;      
	font-size: 100%;                     
}
a {                                      	     
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;		
}
input, select, button, textarea {
	margin: 0; 				 
	font-size: 100%; 			
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 			
}
input[type="checkbox"] { 		
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
html {
	min-height:100%;
}
body {
	margin-left: auto;
    margin-right: auto;
	color: #000;
	text-align: left;
	font-size: 1em; 
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}
a, a:visited {
	color: #339933;
	text-decoration: underline;
}
a:hover {
	color: #339933;
	text-decoration:none;
}
a:focus, a:active {
	color: #339933;
	text-decoration: underline;
}
h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

h1{
	text-align: center;
	font-size: 40px;
}
header{
	background:#292929; 
	overflow:hidden;
}
.menu li{
	float: left;
}
.menu li a{
	float: left;
	color:#fff; 
	font-weight: 1000px;
	font-size: 30px;
	text-decoration: none; 
	padding: 40px 190px; 
	display:block;
	border-bottom: 3px solid #292929; 
}
.menu li a:hover{
	color:#58c93a; 
	border-bottom: 3px solid #58c93a; 
}
.content{
	display: block;
    border-left: 4px solid #e1e0e0; 
	border-right: 4px solid #e1e0e0;
	margin-right: auto;
	margin-left: auto;
}
h3{
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}
main{
	float: left;
	width: 65%; 
	margin-top: 50px;
}
.pro p{
	margin: 10px;
}
.pro article{
	margin-bottom: 70px;
}
article{
     margin-bottom: 70px;
}
article>h2{
	font-size: 1.75em; 
	text-transform: uppercase; 
	font-weight: bold; 
	line-height: 1.1; 
	margin: 0 0 40px 20px; 
	color: #4f4e4e;
}
article>h3{
	font-size: 1.4em; 
	text-transform: uppercase; 
	font-weight: bold; 
	line-height: 1.1; 
	margin: 0 0 30px 15px; 
	color: #4f4e4e;
}
}
article>p{
	margin: 0 0 25px 20px;
	line-height: 1.3;
	font-size: 100px;
}
#movie{
	padding: 200px;
}
